.containerC {
    border: 1px solid;
    border-color: white;
    min-width: 80%;
    min-height: 86%;
    max-height: 86%;
    display: flex;
    margin-bottom: 2%;
    
}

.center-chat {
    min-height: 85vh;
    max-height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Aquí lo del sidebar*/

.sidebar {
    flex: 2;
    background-color: #000f0e;
    border-right: 1px solid gray;
}



.sidebar .navbar {

    height: 80px;
    text-align: center;
    background-color: #000f0e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid gray;
}

.sidebar .selectGoP {
    margin-top: 20px;

}

.sidebar .search {
    border-bottom: 1px solid gray;
}

.sidebar .search .searchForm {
    padding: 10px;


}



.sidebar .search .userChat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;

}

.sidebar .search .userChat:hover {
    background-color: #263636;
    transition: 0.1s;

}

.sidebar .chats .userChat {
    padding: 10px;
    display: flex;
    padding-top: 20px;
    gap: 10px;
    color: white;
    cursor: pointer;

}

.sidebar .chats .userChat .userChatInfo .chatsFirstName {
    font-size: 18px;
    font-weight: 500;

}

.sidebar .chats .userChat .userChatInfo .chatsMessage {
    font-size: 14px;
    color: lightgray;
}


.sidebar .chats .userChat:hover {
    background-color: #263636;
    transition: 0.1s;

}

/*Aquí lo del chat*/


.chat {
    flex: 7;
    background-color: #263636;

}

.chat .chatInfo {
    height: 80px;
    border-bottom: 1px solid gray;
    background-color: #263636;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: white;
    font-size: 25px;
    font-weight: 500;
}


.chat .owner {
    flex-direction: row-reverse !important;

}

.chat .owner p {
    border-radius: 10px 0px 10px 10px !important;
    line-break: anywhere;
    width: 35vw;
}

.chat .otherside {
    flex-direction: row !important;
    
}

.chat .otherside p {
    border-radius: 0px 10px 10px 10px !important;
    width: 35vw;
    line-break: anywhere;
}

.messages {
    overflow-y: scroll;
}

.chat .messages {
    background-color: #263636;
    padding: 10px;
    height: calc(100% - 160px);


}

.chat .messages .message {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    flex-direction: column;


}


.chat .messages .message .messageContent {
    max-width: 80%;
    display: flex;
    gap: 10px;

}

.chat .messages .message .messageContent p {
    background-color: white;
    padding: 10px 20px;
    max-width: max-content;
    border-radius: 0px 10px 10px 10px;
}

.chat .inputMessage {
    height: 80px;
    padding: 10px;
    background-color: #556b6b;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat .send {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat .inputMessage .textInput::placeholder {
    color: rgb(255, 255, 255);

}

.chat .send .buttonSend {
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #000f0e;
}
.buttonSend{
    border: none;
    padding: 10px 15px;
    color: white;
    background-color: #000f0e;
}

#scrollbar-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#scrollbar-2::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
    border-radius: 10px;
}

#scrollbar-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #000f0e;
}

.chats{
    overflow-y: scroll;
    max-height: 65%;
}

.chats {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.chats::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.accept {
    
   
    box-shadow: 0 4px 0 0 #2EA62E;
    background: #6FE76F;
    height: fit-content
  }
  .accept:hover {
    background: #6FE76F;
    box-shadow: 0 4px 0 0 #7ED37E;
  }
  .deny {
    color: #FFF;
    background: tomato;
    
    box-shadow: 0 4px 0 0 #CB4949;
  }
  .deny:hover {
    background: rgb(255, 147, 128);
    box-shadow: 0 4px 0 0 #EF8282;
  }
  .icons-buzon{
    position: unset;
    transform: unset;
    cursor: pointer;
  }
  .modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}