.ratings {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    color: #b1b1b1;
    overflow: hidden;
    margin-left: 3%;
}

.full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #fde16d;
}

.imgProfile{
    max-width: 150px;
    max-height: 150px;
    min-height: 150px;
    min-width: 150px;
}
.imageProducts{
    max-width: 9vmax;
    max-height: 9vmax;
    min-height: 9vmin;
    min-width: 9vmin;
}
.empty-stars:before,
.full-stars:before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 14pt;
}

.empty-stars:before {
    -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
    -webkit-text-stroke: 1px orange;
}


@-moz-document url-prefix() {
    .full-stars {
        color: #ECBE24;
    }
}


.full-stars {
    color: #ECBE24;
}