asgiref==3.5.2
coverage==6.5.0
Django==4.1.2
django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
mysqlclient==2.1.1
Pillow==9.3.0
psycopg2-binary==2.9.4
pycodestyle==2.8.0
PyJWT==2.3.0
pytz==2022.4
sqlparse==0.4.3
tzdata==2022.5
